.label {
  background-color: var(--white-bg);
  border-radius: 8px;
  color: black;
  z-index: 999;
  width: max-content;
  padding: 0.75rem;
  position: absolute;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 0.75rem;
  color: var(--secondary-main);
}

.label .label-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--secondary-main);
  padding-bottom: 0.25rem;
}
.label .label-header .label-title {
  text-align: center;
  font-size: 1.25rem;
  display: inline;
  color: var(--secondary-main);
  font-style: italic;
}
.label .label-header .flag {
  width: 2rem;
  height: 1.5rem;
  display: inline;
  margin-right: 0.75rem;
}

.list {
  list-style-type: none;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 0.2rem;
}

.list .list-item {
  font-size: 1;
  display: grid;
  grid-template-columns: minmax(120px,1fr) 100%;
}

.list .list-item .list-item-name {
  font-weight: 600;
  font-size: 1rem;
  color: var(--secondary-main);
}

.list .list-item  .list-item-value {
  font-size: 1rem;
  font-weight: 600;
}