.label {
  background-color: var(--white-bg);
  border-radius: 0.25rem;
  color:  var(--black);
  z-index: 999;
  padding: 0.75rem;
  position: absolute;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 0.1rem;
  color: var(--secondary-main);
  font-size: 0.8rem;
}
.label > h3 {
  color: var(--secondary-dark);
  font-family: 'shojumaru' ,'roboto';
}
.label .label-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.label .label-header .label-title {
  font-weight: 600;
  color: var(--black);
  margin: 0 0.5rem 0 0; 
  /* font-family: 'shojumaru'; */
}
.label .label-header .flag {
  width: 1.5rem;
  height: 1.1rem;
  margin-right: 0.75rem;
}

.list {
  list-style-type: none;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 0.2rem;
}

.list .list-item {
  display: grid;
  grid-template-columns: minmax(100px,1fr) 100%;
}

.list .list-item .list-item-name {
  font-weight: 600;
  color: var(--secondary-main);
}

.list .list-item  .list-item-value {
  font-weight: 600;
}